//<ПЕРЕМЕННЫЕ COLOR>===========================================================================================================
$black: #000;
$white: #f9f9f9;
$light-blue-gray: #7285B3;
$ruby-red:#931430;
$marengo:#576072;
$slate-gray:#79808E;
$medium-persian-blue: #0067A3;
$Granite:#2C313A;
//</ПЕРЕМЕННЫЕ COLOR>==============================================================================================================